<div *ngIf="isSuccessful"  class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Employee has been updated! </strong>
    <a [routerLink]="'/employee/list'"> Go to Employee List</a>
</div>

<h1>Edit Employee</h1>
<hr/>
<form [formGroup]="addEmployeeForm">
    <div class="row">
        <div class="col-4">
            <div class="form-group mb-3">
                <label>Enter title</label>
                <input type="text" formControlName="employeeTitle" class="form-control"/>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group mb-3">
                <label>Enter First Name</label>
                <input type="text" formControlName="employeeFirstName" class="form-control"/>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group mb-3">
                <label>Enter Last Name</label>
                <input type="text" formControlName="employeeLastName" class="form-control"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group mb-3">
                <label>Title of Courtesy</label>
                <input type="text" formControlName="employeeCourtesy" class="form-control"/>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group mb-3">
                <label>Enter Phone</label>
                <input type="text" formControlName="employeePhone" class="form-control"/>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group mb-3">
                <label>Enter Birth Date</label>
                <input type="text" formControlName="employeeBirthdate" class="form-control"/>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-4">
            <div class="form-group mb-3">
                <label>Enter Address</label>
                <input type="text" formControlName="employeeAddress" class="form-control"/>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group mb-3">
                <label>Enter City</label>
                <input type="text" formControlName="employeeCity" class="form-control"/>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group mb-3">
                <label for="ddlRegionName">Enter Region</label>
                <select id="ddlRegionName" formControlName="employeeRegionName" name="regionName" class="form-control"  >
                    <option value="0">Choose a region</option> 
                    <option value="1">Eastern</option>
                    <option value="2">Western</option>  
                    </select>  
            </div>
        </div>
    </div>

    <input type="button" class="btn btn-primary" [disabled]="!addEmployeeForm.valid" value="Save Employee" (click)="updateEmployee()"/>
</form>

